:root{
    --primary-background-color: #417791;
    --font-color-primary: #D9D9D9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilização primeira seção*/
body {
    background-color: var(--primary-background-color);
    color: var(--font-color-primary);
    width: 650px;
    height: 100vh;
    margin: auto;
    font-family: sans-serif;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

#title h1 {
    font-size: 70px;
}
#title h2 {
    font-size: 44px;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart {
    width: 162px;
    height: 152px;
}

#logo-text {
    width: 373px;
    height: 86px;
    font-size: 58px;
}
/*Fim Estilização primeira seção*/

/*Explain*/
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#explain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#text-cel {
    font-size: 40px;
    text-align: center;
}

#cel {
    width: 180px;
    height: 180px;
    margin: 30px auto 20px auto;
}
/*Explain*/

/*login ou sign*/
#login {
    margin-top: 90px;
    width: 650px;
    height: 292px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#text-login {
    margin-bottom: 32px;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
}
#form-login {
    display: flex;
    justify-content: center;
    width: 477px;
    height: 131px;
    flex-wrap: wrap;
}
#form-login input {
    width: 350px;
    height: 55px;
    border-radius: 10px;
    font-size: 24px;
    padding: 10px;
}
#user-text {
    color: var(--font-color-primary);
    width: 77px;
    height: 59px;
    font-size: 48px;
}
#password-text {
    color: var(--font-color-primary);
    width: 77px;
    height: 59px;
    font-size: 48px;
    margin-top: 19px;
}
i{
    color: #D9D9D9;
}
#password::placeholder,#user::placeholder {
    color: #999999a5;
    font-weight: 600;
}
#password {
    margin-top: 19px;
}
.button-entry {
    width: 180px;
    height: 60px;
    background-color: #0D3682;
    border-radius: 20px;
    font-size: 24px;
    color: var(--font-color-primary);
    text-align: center;
    font-weight: 600;
    margin-top: 40px;
}
#sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}
#text-sign {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 30px;
}
#sign a {
    font-size: 36px;
    text-decoration: none;
    color: var(--font-color-primary);
}