:root{
    --primary-background-color: #417791;
    --font-color-primary: #D9D9D9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Estilização primeira seção*/
body {
    background-color: var(--primary-background-color);
    color: var(--font-color-primary);
    display: flex;
    width: 100dvw;
    height: 100dvh;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
    background: #386980;
    background: -webkit-linear-gradient(0deg,rgba(56, 105, 128, 1) 20%, rgba(151, 194, 173, 1) 50%, rgba(60, 110, 133, 1) 80%);
    background: -moz-linear-gradient(0deg,rgba(56, 105, 128, 1) 20%, rgba(151, 194, 173, 1) 50%, rgba(60, 110, 133, 1) 80%);
    background: linear-gradient(0deg,rgba(56, 105, 128, 1) 20%, rgba(151, 194, 173, 1) 50%, rgba(60, 110, 133, 1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr="#386980",
    endColorstr="#3C6E85",
    GradientType=0
    );
}
#app {
    width: 100%;
    max-width: 420px;
    max-height: 100dvh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/Celular_Aplic.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

#title h1 {
    font-size: 2rem;
}
#title h2 {
    font-size: 2rem;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart {
    width: 6.4rem;
    height: 6rem;
}

#logo-text {
    width: 14rem;
    height: 2.5rem;
    font-size: 3.62rem;
    color: var(--font-color-primary);
}
/*Fim Estilização primeira seção*/

/*Explain*/
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-top: 30px;
}

#explain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

#text-cel {
    font-size: 2rem;
    text-align: center;
    color: var(--font-color-primary);
}

#cel {
    width: 7.75rem;
    height: 7.75rem;
    margin: 30px auto 20px auto;
}
/*Explain*/

/*login ou sign*/
#login {
    margin-top: 150px;
    width: 420px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
}
#text-login {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}
#form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 188px;
}
.inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#form-login input {
    width: 230px;
    height: 42px;
    border-radius: 10px;
    font-size: 24px;
    padding: 10px;
}
#user-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color-primary);
    width: 50px;
    height: 48px;
    font-size: 2.3rem;
}
#password-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--font-color-primary);
    width: 50px;
    height: 48px;
    font-size: 2.3rem;
    margin-top: 19px;
}
i{
    color: #D9D9D9;
}
#password::placeholder,#user::placeholder {
    color: #999999a5;
    font-weight: 600;
}
#password {
    margin-top: 10px;
}
.button-entry {
    width: 120px;
    height: 40px;
    background-color: #0D3682;
    border-radius: 20px;
    font-size: 1.25rem;
    color: var(--font-color-primary);
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 150px;
}
#sign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    padding-top: 30px;
}
#text-sign {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 30px;
}
#sign a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--font-color-primary);
}