:root{
    --primary-background-color: #417791;
    --font-color-primary: #D9D9D9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-background-color);
    color: var(--font-color-primary);
    width: 650px;
    height: 100vh;
    margin: auto;
    font-family: sans-serif;
}

/*Estilização header*/
#title {
    margin-top: 110px;
}
#title h1 {
    font-size: 70px;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart {
    width: 162px;
    height: 152px;
}

#logo-text {
    width: 373px;
    height: 86px;
    font-size: 58px;
}
/*Estilização Header*/

/*Estilização Main*/
#box-user {
    width: 650px;
    height: 130px;
    color: var(--font-color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}
#user-icon {
    color: var(--font-color-primary);
    width: 130px;
    height: 130px;
    font-size: 128px;
    display: block;
}
i {
    color: var(--font-color-primary);
}
/*Estilização main*/

/*Formulario*/
#form-sign {
    width: 650px;
    height: 432px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin-top: 68px;
}
#form-sign input {
    width: 400px;
    height: 55px;
    border-radius: 10px;
    padding: 10px;
}
#form-sign input::placeholder {
    color: #999999a5;
    font-weight: 600;
}
#button-sign {
    width: 180px;
    height: 60px;
    border-radius: 20px;
    color: var(--font-color-primary);
    background-color: #0D3682;
    font-size: 28px;
    font-weight: 600;
    margin-top: 68px;
}
/*Formulário*/

/*BackButton*/
#back-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    font-size: 80px;
    margin-top: 260px;
    margin-left: 60px;
}