:root{
    --primary-background-color: #417791;
    --font-color-primary: #D9D9D9;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-background-color);
    color: var(--font-color-primary);
    display: flex;
    min-height: 100dvh;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
    background: #386980;
    background: -webkit-linear-gradient(0deg,rgba(56, 105, 128, 1) 20%, rgba(151, 194, 173, 1) 50%, rgba(60, 110, 133, 1) 80%);
    background: -moz-linear-gradient(0deg,rgba(56, 105, 128, 1) 20%, rgba(151, 194, 173, 1) 50%, rgba(60, 110, 133, 1) 80%);
    background: linear-gradient(0deg,rgba(56, 105, 128, 1) 20%, rgba(151, 194, 173, 1) 50%, rgba(60, 110, 133, 1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr="#386980",
    endColorstr="#3C6E85",
    GradientType=0
    );
}
html, body {
    overflow-x: hidden;
    overflow-y: auto;
}

#app {
    width: 100%;
    max-width: 420px;
    min-height: 100dvh;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*Estilização header*/
#title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart {
    width: 6.4rem;
    height: 6rem;
}

#logo-text {
    width: 14rem;
    height: 2.5rem;
    font-size: 2rem;
    color: var(--font-color-primary);
}
/*Estilização Header*/

/*Estilização Main*/
#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-top: 30px;
}
#box-user {
    width: 100%;
    height: 130px;
    color: var(--font-color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
}
#user-icon {
    color: var(--font-color-primary);
    width: 130px;
    height: 130px;
    font-size: 90px;
    display: block;
    text-align: center;
}
i {
    color: var(--font-color-primary);
}
/*Estilização main*/

/*Formulario*/
#sign {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0 20px;
}
#form-sign {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
}
#form-sign input {
    width: 100%;
    height: 42px;
    border-radius: 10px;
    padding: 10px;
}
#form-sign input::placeholder {
    color: #999999a5;
    font-weight: 600;
}
#button-sign {
    width: 120px;
    height: 40px;
    background-color: #0D3682;
    border-radius: 20px;
    font-size: 1.25rem;
    color: var(--font-color-primary);
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
}
/*Formulário*/

/*BackButton*/
#back-button {
    display: flex;
    width: 100%;
    height: fit-content;
    font-size: 45px;
    margin-top: 50px;
    /*align-items: ;
    padding-top: ;
    */
}