:root{
    --primary-background-color: #417791;
    --font-color-primary: #D9D9D9;
}

* {
    
    box-sizing: border-box;
    
}
html, body {
    overflow-x: hidden;
    overflow-y: auto;
}

/*Estilização primeira seção*/
body {
    background-color: var(--primary-background-color);
    color: var(--font-color-primary);
    display: flex;
    min-height: 100dvh;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
    background: #386980;
    background: -webkit-linear-gradient(0deg,rgba(56, 105, 128, 1) 20%, rgba(151, 194, 173, 1) 50%, rgba(60, 110, 133, 1) 80%);
    background: -moz-linear-gradient(0deg,rgba(56, 105, 128, 1) 20%, rgba(151, 194, 173, 1) 50%, rgba(60, 110, 133, 1) 80%);
    background: linear-gradient(0deg,rgba(56, 105, 128, 1) 20%, rgba(151, 194, 173, 1) 50%, rgba(60, 110, 133, 1) 80%);
    filter: progid:DXImageTransform.Microsoft.gradient(
    startColorstr="#386980",
    endColorstr="#3C6E85",
    GradientType=0
    );
}
#app {
    width: 100%;
    max-width: 420px;
    min-height: 100dvh;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

#title h1 {
    font-size: 2rem;
}
#title h2 {
    font-size: 2rem;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart {
    width: 6.4rem;
    height: 6rem;
}

#logo-text {
    width: 14rem;
    height: 2.5rem;
    font-size: 3.62rem;
    color: var(--font-color-primary);
}
/*Fim Estilização primeira seção*/

/*Seção mensagem*/
#content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    min-height: 100dvh;
    padding-top: 10px;
    padding-bottom: 10px;
}
#users {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#users h2, #users span {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 600;
}
#users h3 {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 0rem;
    text-align: left;
    width: 100%;
    padding-left: 5%;
}

/*Estilização das opções*/
section#options {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}
.option {
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: center;
}
.option p {
    font-size: 1.2rem;
}
.btn {
    width: 150px;
    height: 40px;
    background-color: #d9d9d9;
    border-radius: 10px;
    font-size: 1rem;
    color: var(--primary-background-color);
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
}
#nav-sections {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 40px;
    margin-top: 40px;
    margin-bottom: 0;
}

.btn-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--font-color-primary);
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    border: none;
    color: var(--primary-background-color);
    font-size: 2.5rem;
}
.btn-nav:hover {
    background-color: #b9b9b9;
    cursor: pointer;
    width: 3.4rem;
    height: 3.4rem;
}

.btn-nav i {
    display: block;
    margin: auto;
}